* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  margin: 0 auto;
  font-size: 18px;
  color: aliceblue;
}

#wrapper {
  overflow: hidden;
  _height: 100%;
  height: auto !important;
  min-height: 100%;
  position: relative;
  background-color: #424242;
}
#header {
  padding-left: 1px;
  width: 100%;
  height: 20%;
  margin: 0 auto;
}
hr {
  height: 2px;
  border-width: 0;
  color: black;
  background-color: orange;
}
#body {
  width: 100%;
  margin: 0 auto;
  padding-left:5px;
  padding-bottom: 32767px;
  margin-bottom: -32767px;
}
#body-wrapper {
  padding-bottom: 10%;
  padding-top: 3%;
}
#footer{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0px;
}
#footer-wrapper {
  width: 90%;
  margin: 10px auto;
}
li {
  text-align: left;
  padding-left: 2%;
}
a:link,
a:visited {
  background-color: #323232;
  color: aliceblue;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
select {
  background:aliceblue;
  border: 3px solid #424242;
  border-radius: 4px;
  width: 10%;
  height: 35px;
  padding-left: 2px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  -webkit-appearance: menulist;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
   appearance: none;
}
select:focus{
  outline: none;
}
select::-ms-expand {
  display: none;
}
#choice option {
  width: 30%;
}
#wrap {
  display: flex;
  justify-content: flex-start;
}
#pic {
  filter: blur(0px);
  filter: grayscale(10%);
}
img {
  filter: invert(90%);
}
