html {
  max-width: 500px;
  margin: auto;
  padding: 5px;
}
/*body {
    font-size: 14pt;
    background-color: #424242;
    color: #F5F5F5;
}
li {
  text-align: left;
  padding-left: 5%;
}*/

select {
  background: white;
  border: 2px solid #3F3F3F;
  border-radius: 4px;
  width: 30%;
  height: 30px;
  padding-left: 10px;
  font-size: 16px;
  color: #3F3F3F;

  /* Here's the code we need */
  -webkit-appearance: menulist;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
   appearance: none;
}
select:focus{
  outline: none;
}

.select-wrapper {
  position: relative;
}
select::-ms-expand {
  display: none;
}
#choice option {
  width: 30%;
}
#wrap {
  display: flex;
  justify-content: flex-start;
}